In [1]:
import pandas as pd
import json
import numpy as np
import seaborn as sn
import pickle

from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_extraction import DictVectorizer

from sklearn.model_selection import train_test_split
from sklearn.metrics import auc, roc_auc_score,f1_score, confusion_matrix, roc_curve

In [2]:
# Loading the Dataset

In [3]:
data = 'https://github.com/aliaksandra-babova/ML-Zoomcamp-2025-Midterm-Project/blob/65f866f4fe40ad435268a6d370a7228ed3fd7709/play_tennis_dataset.csv'

In [ ]:
!wget $data

In [54]:
df = pd.read_csv('play_tennis_dataset.csv')

In [55]:
df.head()

  Day   Outlook Temperature Humidity    Wind Play
0  D1  Overcast        Mild   Normal  Strong  Yes
1  D2     Sunny        Mild   Normal  Strong  Yes
2  D3       NaN        Mild     High  Strong   No
3  D4     Sunny        Mild     High    Weak  Yes
4  D5     Sunny        Cool   Normal  Strong  Yes

In [56]:
# EDA

In [57]:
df.shape

(6666, 6)

In [58]:
df.isnull().sum()

Day              0
Outlook        399
Temperature    333
Humidity       233
Wind           366
Play             0
dtype: int64

In [59]:
df.dtypes

Day            object
Outlook        object
Temperature    object
Humidity       object
Wind           object
Play           object
dtype: object

In [60]:
for col in df.columns:
    print(col)
    print(df[col].unique()[:5])
    print(df[col].nunique())
    print()

Day
['D1' 'D2' 'D3' 'D4' 'D5']
31

Outlook
['Overcast' 'Sunny' nan 'Rainy']
3

Temperature
['Mild' 'Cool' 'Hot' nan]
3

Humidity
['Normal' 'High' nan]
2

Wind
['Strong' 'Weak' nan]
2

Play
['Yes' 'No']
2

In [61]:
# Removing the Day column as it doesn't add value

In [62]:
df = df.drop(columns = ['Day'])

In [63]:
df.columns = df.columns.str.lower()

categorical = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical:
    df[c] = df[c].str.lower()

In [64]:
df.play = (df.play == 'yes').astype(int)

In [65]:
df.head()

    outlook temperature humidity    wind  play
0  overcast        mild   normal  strong     1
1     sunny        mild   normal  strong     1
2       NaN        mild     high  strong     0
3     sunny        mild     high    weak     1
4     sunny        cool   normal  strong     1